@model Clothing_v2._2.Models.QuestionsModels

@{
    ViewBag.Title = "ResultES";
    Layout = "~/Views/RecomendationES/QuestionForES.cshtml";
}

<h2>
    Рекомендация с помощью
    экспертной системы
</h2>

<div>   
    <h1>@ViewData["Message"]</h1>
</div>